*{
   margin: 0;
   padding: 0;
}


.nome{
   background-color: rgb(168, 223, 168) ; 
   padding: 0.62rem;
   text-align: center; 
 }
 
 .nome h1 {
   color: black;
   font-size: 1.50rem; 
   margin-bottom: 1.87rem;
 }
 
 /* Estilo para o menu principal */
 .menu-principal {
   background-color: rgb(168, 223, 168);  
   padding: 0.62rem; 
   height: 2.5rem;
 } 
 
 .menu-principal nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
 }
 
 .menu-principal  ul li {
   display: inline-block;
   margin-right: 1.5rem;
 }
 
 .menu-principal a {
   color: black; 
   text-decoration: none; 
   
 }
 
 .menu-principal a:hover {
   color: black;
 }

 .foto-perfil img {
  width: 1.87rem;
  height: auto;
  margin-top: -11,25rem;
  max-widht:100%;
} 

.foto-prfil-wrapper {
   display: flex;
   flex-direccion: column;
   align-items: center;
}

.foto-perfil-wrapper-img {
   max-widht: 100%;
   height: 15.6rem;
   widht:14.5rem;
   border-radius: 50%;
}   
   
   body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   background-color: rgb(168, 223, 168);   
}



h2 {
   border-bottom: 0.06rem solid rgb(168, 223, 168) ;
   padding-bottom: 0.62;
   margin-bottom: 1.25rem;
}

ul {
   list-style: none;
   padding: 0;
}

li {
   margin-bottom: 0.62rem;
}

#sobre-mim {
   background-color: rgb(168, 223, 168); 
}

#projetos {
   background-color: #deedf5;
   text-align: center;
}  

#habilidades {
   background-color:#deedf5 ;
}

#hobbies {
   background-color: #deedf5;
   text-align: center;
}





form {
   display: flex;
   flex-wrap: wrap;
}

label {
   flex-basis: 100%;
   margin-bottom: 10px;
}

input[type="text"], 
input[type="email"],
textarea {
   width: 100%;
   padding: 1.60rem;
   margin-bottom: 0.62rem;
}


button[type="submit"] {
   background-color: #333;
   color: #fff;
   padding: 10px 20px;
   border: none;
   cursor: pointer;
}

#contato {
   background-color: #8ea392;
   padding: 20px;
 }

 #contato form {
   width: 100%;
   max-width: 37.5rem;
   margin: 0 auto;
 }
 
 #contato .form-group {
   margin-bottom: 2.25rem;
 }
 
 #contato label {
   display: block;
   margin-bottom: 0.5rem;
 }
 
 #contato input[type="text"],
 #contato input[type="email"],
 #contato textarea {
   width: 100%;
   padding: 0.62;
   margin-bottom: 10px;
   border-radius: 5px;
   border: 1px solid #3f5816;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
 }
 
 #contato input[type="text"]:focus,
 #contato input[type="email"]:focus,
 #contato textarea:focus {
   outline: none;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
 }
 
 #contato .btn {
   background-color: #333;
   color: #7bce7b;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
 }
 
 #contato .btn:hover {
   background-color: #a4d8a4;
 }

 footer {
   background-color: #f7f7f7;
   text-align: center;
   padding: 20px;
 }
 
 .social-links {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   color: blue;
 }

 
.social-links-linkedin {
  justify-content: right;
  color: blue;
} 
 
.social-links i {
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s ease;
  color: blue;
}

.social-links.fa-linkedin {
  color: #0072b1;
}

.social-links.fa-instagram {
  color: #e1306c;
}

.social-links.fa-github {
  color: #333;
}

.copyright {
  font-size: 14px;
  color: #0e192c;
  margin-bottom: 10px;
}

/* Responsividade */
@media (max-width: 600px) {
  
}

@media (min-width: 601px) and (max-width: 900px) {
 
}

@media (min-width: 901px) {
 
}

@media (max-width: 768px) {
  .foto-perfil img {
    width: 50%; 
  }
  .foto-perfil .nome {
    font-size: 16px; 
  }
}


 
 
